@model ECommerceLiveDemo.Models.DTOs.CategoryDto
<div class="col-md-8">
    <div class="single-video-left">
        <div class="single-video">
            <iframe width="100%" height="315" src="@Model.PlayingVideo.FileUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="single-video-title box mb-3">
            <h2>
                <a href="#">@Model.PlayingVideo.Name</a>
            </h2>
            @*<p class="mb-0"><i class="fas fa-eye"></i> @Model.Viewer views</p>*@
            <div style="display: flex;" class="col-md-12">
                @foreach (var item in Model.Products)
                {
                    <div style="background-color: white;display: flex; border-radius: 5px;margin-right: 1%" class="col-md-4">

                        <div style="display:inline-block; width: 50%;height: 90%; margin-top: 3.5%; margin-left: -7.5%;">
                            <img alt="" src=@item.FileUrl style="border-radius: 15px; width: 100%;
                                                                             border: 2px solid #fff;overflow: hidden;
                                                                             object-fit: cover;height: 95%" href="@item.ProductUrl">
                        </div>

                        <div style="display:inline-block; margin-left: 5%;
                                                                          margin-top: 12%; ; white-space: nowrap;
                                                                          width: 50%;text-overflow: ellipsis;overflow: hidden;">
                            <a style="margin-top:3%;margin-left: 3%;color:black;text-overflow: ellipsis;
                                    " href="@item.ProductUrl" target="_blank">@item.Name</a>
                            <p style="margin-top:65%;margin-left: 3%;width:100%;color: black">@item.Price TL</p>
                        </div>

                    </div>
                }
            </div>
        </div>
       @* <div class="single-video-info-content box mb-3">
            <h6>Ürünler :</h6>
            @{
                foreach (var item in @Model.Products)
                {
                    <span>
                        <a>@item.Name</a>
                    </span>
                }
            }
            <h6>Kategoriler :</h6>
            @foreach (var item in @Model.Categories)
            {
                <span>
                    <a>@item.Name</a>
                </span>
            }

            <h6>Video Hakkında :</h6>
            <p>@Model.VideoDescription </p>

            <h6>Ürünler :</h6>
            <p class="tags mb-0">
                <div style="display: flex;" class="col-md-12">
                    @foreach (var item in Model.Products)
                    {
                        <div style="background-color: white;display: flex; border-radius: 5px;margin-right: 1%" class="col-md-4">

                            <div style="display:inline-block; width: 50%; margin-top: 3.5%; ">
                                <img alt="" src=@item.FileUrl style="border-radius: 15px;
                                                                 width: 100%;
                                                                 border: 2px solid #fff;
                                                                 overflow: hidden;
                                                                 object-fit: cover;" href="@item.ProductUrl">
                            </div>

                            <div style="display:inline-block; margin-left: 10%;
                                                              margin-top: 12%;">
                                <a style="margin-top:3%;margin-left: 3%;color:black" href="@item.ProductUrl" target="_blank">@item.Name</a>
                                <p style="margin-top:80%;margin-left: 3%;width:100%;color: black">@item.Price TL</p>
                            </div>

                        </div>
                    }
                </div>
            </p>
        </div>*@
    </div>
</div>
@Html.Partial("_VideoCommentPartial")